
<html>

<head>
    <title>Request a Feature</title>
</head>

<body>
    <h3>Feature Requests</h3>
    <form data-bind="submit: addFeatureRequest">
        <div>
            Title: <input data-bind="value: newFeatureRequestTitle"/>
        </div>
        <div>
            Description: <input data-bind="value: newFeatureRequestDesc"></input>
        </div>
        <div>
            Client : <select data-bind="value: newFeatureRequestClient">
                                  <option value="Client A">Client A</option>
                                  <option value="Client B">Client B</option>
                                  <option value="Client C">Client C</option>
                                  <option value="Client D">Client D</option>
                            </select>
        </div>
        <div>
            Client Priority: <input data-bind="value: newFeatureRequestClientPriority" placeholder="1-100"></input>
        </div>
        <div>
            Product Area : <select data-bind="value: newFeatureRequestProductArea">
                                  <option value="Billing">Billing</option>
                                  <option value="Claims">Claims</option>
                                  <option value="Policies">Policies</option>
                                  <option value="Reports">Reports</option>
                            </select>
        </div>
        <div>
            <label for="target-date">Target date:</label>
            <input data-bind="value: newFeatureRequestTargetDate" type="date" id="target-date" value="2018-08-01" min="2018-08-08" max="2030-12-31" />
        </div>
        <button type="submit">Submit feature request</button>
    </form>
    <ul data-bind="foreach: featureRequests">
        <li>
            Title: <span data-bind="text: title"></span>
            <p></p>
            Description: <span data-bind="text: description"></span>
            <p></p>
            Client: <span data-bind="text: client"></span>
            <p></p>
            Client Priority: <span data-bind="text: clientPriority"></span>
            <p></p>
            Product Area: <span data-bind="text: productArea"></span>
            <p></p>
            Target Date: <span data-bind="text: targetDt"></span>
        </li>
        <p></p>
    </ul>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/knockout/2.2.0/knockout-min.js"></script>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
        <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/custom.css">
</body>

</html>
